on boot && property:ro.product.device=def
    start load_ts_firmware

service load_ts_firmware /vendor/firmware/load_ts_firmware.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

